<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout"
    th:with="title='Add Facility'"
	>
	<th:block layout:fragment="content">
<div class="container">


	<form  id="contact_form" autocomplete="off" action="#" th:action="@{/schoolRep/add-facility}"
						th:object="${facilityDTO}" method="post" class="well form-horizontal" 
						role="form">
		<fieldset>
			<legend>Add Facility</legend>
			
						<!-- Success message -->
			<div align="center" th:if="${successMessage}">
				<span class="alert alert-success" role="alert" th:utext="${successMessage}"></span>
				<br/><br/>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="facilityNameId">Facility Name</label>  
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input id="facilityNameId" type="text" th:field="*{facilityName}" placeholder="Facility Name"
								class="form-control" />
						<label  th:if="${#fields.hasErrors('facilityName')}" th:errors="*{facilityName}"
								class="validation-message"></label>
					</div>
				</div>
			</div>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="facilityDescriptionId" >Facility Description</label> 
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input id="facilityDescriptionId"	 type="text" th:field="*{facilityDescription}"
								placeholder="Facility Description" class="form-control" /> 
							<label th:if="${#fields.hasErrors('facilityDescription')}" th:errors="*{facilityDescription}"
								class="validation-message"></label>
					</div>
				</div>
			</div>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="facilityLocationId">Location</label>  
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						<input id="facilityLocationId" type="text" th:field="*{facilityLocation}" placeholder="Facility Location"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('facilityLocation')}" th:errors="*{facilityLocation}"
								class="validation-message"></label>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4 control-label" for="schoolNameId">School Name</label>  
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input id="schoolNameId" type="text" readonly="readonly" th:field="*{schoolName}"
								placeholder="School Name" class="form-control" /> 
						<input type="hidden" readonly="readonly" th:field="*{schoolId}" /> 
						<input type="hidden" readonly="readonly" th:field="*{facilityId}" />
						<input type="hidden" readonly="readonly" th:field="*{addedBy}" />
					</div>
				</div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="pricePerHourId">Price Per Hour ($)</label>  
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
						<input type="text" class="form-control" id="pricePerHourId" placeholder="Price Per Hour" th:field="*{pricePerHour}" />
						<label
								th:if="${#fields.hasErrors('pricePerHour')}" th:errors="*{pricePerHour}"
								class="validation-message"></label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="totalSeatingCapacityId">Seating Capacity</label>  
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
						<input type="text" class="form-control" id="totalSeatingCapacityId" placeholder="Seating Capacity" th:field="*{totalSeatingCapacity}" />
						<label
								th:if="${#fields.hasErrors('totalSeatingCapacity')}" th:errors="*{totalSeatingCapacity}"
								class="validation-message"></label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="isActiveForRentalId">Is Active for Rent</label>  
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
						<select id="isActiveForRentalId"  name="isActiveForRental" class="form-control selectpicker"  th:field="*{isActiveForRental}">
							<option value="1" >Yes</option>
							<option value="0">No</option>
						</select>
					</div>
						
						<label
								th:if="${#fields.hasErrors('isActiveForRental')}" th:errors="*{isActiveForRental}"
								class="validation-message"></label>
					</div>
				</div>
			
			

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-4">
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
</th:block>
</html>