<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Hello, template</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<link rel="apple-touch-icon" href="apple-touch-icon.png" />
<link rel="stylesheet" 
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" 
	th:href="@{/css/plugins.css}" />
<link rel="stylesheet" 
	th:href="@{/css/opensans-web-font.css}" />
	<link rel="stylesheet" 
	th:href="@{/css/montserrat-web-font.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
</head>