<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	>
<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	   <link rel="stylesheet" th:href="@{/css/style.css}" />
  	
</head>
<body>
 <header>
<nav class="navbar navbar-default navbar-pf navbar-fixed-top" style="padding-bottom: 10px;" role="navigation">
         <!-- <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
            <nav class="mainmenu navbar navbar-default navbar-fixed-top"> -->
         <div class="container">
            <div class="row">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <div class="brand-bg">
                     <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" alt="VenEdu Logo" /></a>
                  </div>
               </div>
               <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                     <li><a href="#" th:href="@{/}">Home</a></li>
                     <li><a href="#" th:href="@{/events}">Events</a></li>
                     <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/add-events}">Add Events</a>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facility <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a th:href="@{/search-facility}">Search Facility</a></li>
                           <li sec:authorize="hasAnyAuthority('ADMIN', 'SCHOOL_REP')">
                              <a th:href="@{/schoolRep/add-facility}">Add Facility</a>
                           </li>
                          <!--  <li role="separator" class="divider"></li>
                           <li><a href="#">Separated link</a></li> -->
                        </ul>
                     </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                     <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="/signin" th:href="@{/register-school-rep}">Register As Provider</a>
                     </li>
                     <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="/signin" th:href="@{/registration}">Register</a>
                     </li>
                     <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="/signin" th:href="@{/signin}">Sign in</a>
                     </li>
                     <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a href="#" sec:authentication="name"></a> 
                     </li>
                     <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a href="/logout" th:href="@{/logout}">Logout</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /.container-fluid -->
      </nav>
    </header>
    <section class="section_div">
    </section>
	<h1 th:text="${errorCode}">500</h1>
	<p th:text="${errorMessage}">java.lang.NullPointerException</p>
	
	<h1 th:text="#{error_title}">Your request cannot be processed <span>:(</span></h1>

    <p th:text="#{error_subtitle}">Sorry, an error has occurred.</p>

    <span th:text="#{error_status}">Status:</span>&nbsp;<span th:text="${error}"></span>&nbsp;(<span th:text="${error}"></span>)<br/>
    <span th:if="${!#strings.isEmpty(message)}">
        <span th:text="#{error_message}">Message:</span>&nbsp;<span th:text="${message}"></span><br/>
    </span>

   <!--  <script th:inline="text">
        /*<![CDATA[*/
        var GOOG_FIXURL_LANG = '[[${#locale.language}]]', GOOG_FIXURL_SITE = location.host;
        /*]]>*/
    </script>
    <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script> -->
</body>
</html>