<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
	>
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title>Events</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script type="text/javascript" th:src="@{/js/utility.js}"></script>
	
</head>
<body>
<nav class="navbar navbar-default navbar-pf navbar-fixed-top" style="padding-bottom: 10px;" role="navigation">
         <!-- <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
            <nav class="mainmenu navbar navbar-default navbar-fixed-top"> -->
         <div class="container">
            <div class="row">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <div class="brand-bg">
                     <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" alt="VenEdu Logo" /></a>
                  </div>
               </div>
               <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                     <li><a href="#" th:href="@{/}">Home</a></li>
                     <li><a href="#" th:href="@{/events}">Events</a></li>
                     <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/add-events}">Add Events</a>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facility <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a th:href="@{/search-facility}">Search Facility</a></li>
                           <li sec:authorize="hasAuthority('SCHOOLREP')">
                              <a th:href="@{/schoolRep/add-facility}">Add Facility</a>
                           </li>
                            <li sec:authorize="hasAnyAuthority('ADMIN', 'SCHOOLREP')">
                              <a th:href="@{/schoolRep/facilityManagement}">Facility Management</a>
                           </li>
                          <!--  <li role="separator" class="divider"></li>
                           <li><a href="#">Separated link</a></li> -->
                        </ul>
                     </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                     <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="/signin" th:href="@{/register-school-rep}">Register As Provider</a>
                     </li>
                     <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="/signin" th:href="@{/registration}">Register</a>
                     </li>
                     <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="/signin" th:href="@{/signin}">Sign in</a>
                     </li>
                     <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a href="#" sec:authentication="name"></a> 
                     </li>
                     <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a href="/logout" th:href="@{/logout}">Logout</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /.container-fluid -->
      </nav>
      <div class="container">
      <section class="section_div">
      <h3>Upcoming Events</h3>
      </section>

<div class="well form-horizontal" >
	<fieldset>
			<legend>Facilities Available for Rent</legend>
			<div class="span12">
			<table id="myTableId" dt:table="true" class="table table-striped">
      <thead>
            <tr>
               <th>Event Name</th>
				<th>Description</th>
                <th>Location</th>
                <th>Event Type</th>
                <th>ZipCode</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                 <th>End Time</th>
                 <th>Price Per Hour ($)</th>
                
            </tr>
        </thead>
        <tfoot>
            <tr>
              <th>Event Name</th>
				<th>Description</th>
                <th>Location</th>
                <th>Event Type</th>
                <th>ZipCode</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                 <th>End Time</th>
                 <th>Price Per Hour ($)</th>
            </tr>
        </tfoot>
        <tbody>
            <tr th:each="evnt : ${eventDTOs}">
                <td th:text="${evnt?.eventName}"></td>
                <td th:text="${evnt?.eventDescription}"></td>
                <td th:text="${evnt?.eventLocation}"></td>
                <td th:text="${evnt?.eventType}"></td>
                
                <td th:text="${evnt?.zipCode}"></td>
                <td th:text="${evnt?.eventDateFrom}"></td>
                <td th:text="${evnt?.TimeFrom}"></td>
                 <td th:text="${evnt?.eventDateTo}"></td>
                                <td th:text="${evnt?.TimeTo}"></td>
               
                                <td th:text="${evnt?.price}"></td>
                
                
                
                <td>  
                	<div sec:authorize="isAuthenticated()" style="float: left;">
					  <form method="POST" th:action="@{/rent-facility(facilityId=${facility?.facilityId})}">
				      <button type="submit" class="btn btn-info">Rent</button>
				    </form> 
				</div>
				</td>
            </tr>
        </tbody>
    </table>
</div>
			
	</fieldset>		
	</div>
</div>
	</body>
</html>